/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
 чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--wght), 'wdth' var(--wdth); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-size: cover;
  background: var(--background);
  background-attachment: fixed;
}

/* header */

.header {
  padding-block-start: 100px;
  padding-block-end: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  /* padding: clamp(120px, 10vw, 130px) 14px clamp(120px, 12vw, 126px); */
  border: 2px solid #000;
  padding: clamp(120px, 9vw, 320px) 0px;
  background-color: #fff;
}

.header__title {
  /* font-size: clamp(3.1rem, 2.4088rem + 2.9491vw, 4.013rem); */
  font-size: clamp(3.0625rem, 1.9348rem + 4.8632vw, 4.0625rem);
}

.header__subtitle {
  text-transform: uppercase;
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}



/* cards */

.clamp{
  width: clamp(375px, 100vw, 697px);
}

.card__image-container {
  position: relative;
  display: inline-block;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 21px;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  letter-spacing: 1px;
  text-shadow:
    0.5px 0 var(--stroke-color), 
    0 0.5px var(--stroke-color), 
    0.5px 0 var(--stroke-color), 
    0 -0.5px var(--stroke-color);
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))){
  .card__image-label {
    text-stroke: 0.5px var(--stroke-color);
    -webkit-text-stroke: 0.5px var(--stroke-color);
    text-shadow: none;
  }
}

.card__item {
  outline: 2px solid #000;
  background-color: #fff;
}

.card__title {
  --wght: 700;
  font-variation-settings: "wght" var(--wght), 'wdth' var(--wdth);
  padding: 2px 10px;
  font-size: 18px;
  line-height: 25px;  
}

.cards__text {
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);  
}

.card__text-list {
  /* padding: 28px 27px 24px 27px; */
  padding: 25px 30px 25px 26px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border: none;
}

.card__text-list li {
  border: none; 
}

.cards__action {
  padding-inline-end: 25px;
  padding-block-end: 23px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  border: 2px solid transparent;
  background: none;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}

.like-icon {
  width: 39px;
  height: 50px;
  padding-left: 3px;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}


.card__like-button {
  border: 2px solid #000;
  font-family: var(--accent-font);
  background-color: inherit;
  /* padding: 9px 37px; */
  padding: 12.5px 37px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
}

.like-icon {
  padding-block-start: 10px;
}

.card-padding {
  margin-block-start: 56px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: #fff;
  position: relative;
  mix-blend-mode: difference;
}

.core {
  fill: none;
}

.main-body {
  fill: none;
}

.sparks {
  opacity: none;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
}

.footer__diskette-icon {
  color: #fff;
  mix-blend-mode: difference;
  block-size: 21px;
  inline-size: 21px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: 50px 25px 50px 30px;
  padding: 16px 20px;
  cursor: pointer;
  position: relative;
  gap: 10px;
}

.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.footer__button:hover::before {
  transform: scaleX(1);
}

.footer__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
}

.footer__text {
  font-family: var(--accent-font);
  font-size: 14px;
}

/* dialog */


.dialog__content {
  display: flex;
  gap: 15px;
  padding-left: 12px;
  padding-block-start: 13px;
}


.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}


.diskette-icon-dialog {
  width: 39px;
  height: 39px;
}

.diskette-icon-container {
  display: flex;
  align-items: center;
  justify-items: center;
}

.dialog__button-text {
  padding: 8px 123px;
  font-family: var(--accent-font);
}

.dialog__button {
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  margin: 30px 13px 13px 13px;
}

.footer__dialog[open]::backdrop {
  backdrop-filter:  brightness(0.2);
}

.blur {
  filter: blur(1px);
}

.brightness {
  filter: brightness(120%);
}

.contrast {
  filter: contrast(120%);
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(30%);
}

.sepia {
  filter: sepia(30%);
}

.hue-rotate {
  filter: hue-rotate(20deg);
}

.sparks {
  opacity: 0;
}




@media (width <= 375px) {
  .clamp {
    width: 100vw
  }
  
  .footer__diskette-icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin: 52px 32px;
    background-color: #fff;
    cursor: pointer;
  }
}



